<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-signin-client_id" content="(API GOOGLE)">
  <title>Janken App</title>
  <!-- booststrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="./css/style.css" type="text/css" rel="stylesheet">
  <!-- google font -->
  <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
  <!-- google api -->
  <meta name="google-signin-client_id"
    content="1055302973797-u8huidg2poppcn92m3v2dg9lbnsmg9o8.apps.googleusercontent.com">
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>

  <div id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand"> <img id='logo' src="" alt=""> Janken</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li><a id="nav">Nav</a></li>
          <li><a id="nav">Nav</a></li>
          <li><a id="nav">Nav</a></li>
          <li><a id="signout">SignOut</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div id="loginForm">
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="border col-md-4" style="padding: 30px; border-radius: 20px;">
          <h1 class="justify-content-center">LOGIN</h1><br>
          <form id="form-login">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"
                required>
            </div><br>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" required>
            </div>
            <div class="row" style="display: flex; flex-direction: column; margin: auto; align-items: center;">
              <button type="submit" class="btn btn-primary" style="width: 100px;">Login</button><br>
              <p>or</p>
              <div class="g-signin2" data-onsuccess="onSignIn"></div><br><br>
            </div>
          </form>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="registerForm">
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="border col-md-4" style="padding: 30px; border-radius: 20px;">
          <h1 class="justify-content-center">Register</h1>
          <form id="form-register">
            <div class="form-group">
              <label for="emailRegis">Email address</label>
              <input type="email" class="form-control" id="emailRegis" ria-describedby="emailHelp"
                placeholder="Enter email" required>
            </div>
            <div class="form-group">
              <label for="passwordRegis">Password</label>
              <input type="password" class="form-control" id="passwordRegis" placeholder="Password" required>
            </div>
            <div class="form-group">
              <label for="nameRegis">Name</label>
              <input type="text" class="form-control" id="nameRegis" placeholder="Enter name" required>
            </div>
            <div style="text-align: center;">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>

  <div id="content">
    <div id="createRoom">

    </div>

    <div id="playRoom">

    </div>
  </div>

  <div id="app"></div>
  <!-- built files will be auto injected -->


  <!-- google script -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</body>

</html>